@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Instruções Do Projeto</h1>

    <h3>Prova de Desenvolvimento:</h3> 



    <h5>Fase 1: (url: locahost:porta/Home/Create)</h5>
    <ul>
        <li>Criar um formulário de cadastro de usuário (Nome, Sobrenome, Email, Data de nascimento, Senha, Confirmação de Senha).</li>

        <li>Com validação de obrigatoriedade de nome, sobrenome, data de nascimento, senha, confirmação de senha.</li>

        <li>Com validação do campo de email</li>

        <li>Com validação se os campos de senha batem e com tamanho mínimo de 6.</li>
    </ul>


    <h5>Fase 2: (url: locahost:porta/Home/CreateDynamic)</h5>
    <ul>
        <li>Recriar o cadastro original gerando o formulário dinamicamente através de JS e salvar o cadastro, com as mesmas validações.</li>
    </ul>


    <h5>Bônus: (url: locahost:porta/Home/Index)</h5>

    <ul>
        <li>Fazer um ajax que pegue as informações do servidor e montar uma tabela com os dados retornados.</li>
    </ul>
    

</main>